body{
    font-family: 'Courier New', Courier, monospace;
   
}

.main-class{
    display: flex;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    border-color: black ;
    border-style: solid;
}


.btn{
    margin-left: 32%;
    height: 35px;
    width: 70px;
}

#username{
    margin-bottom: 20px;
    border-radius: 4px;
    padding: 15px;
    border-width: 0;
    display: block;
}

#password{
    margin-bottom: 20px;
    border-radius: 4px;
    padding: 15px;
    border-width: 0;
    display: block;
}

